header {
    text-align: center;
    display: flex;
    justify-content: center;
}

.header {
    float: right;
}
main {
    display: flex;
    justify-content: center;
}
footer {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100px;
}
h1, h2, p, li {
    font-family: 'Righteous', cursive;
}
img {
    width: 120px;
    height: auto;
    float: right;
    margin-top: -75px;
    margin-right: 20px;
    border-radius: 8px;
}

.backgroundColor {
    background-color: #16DB65;
    height: 100px;
    width: 750px;
    border-radius: 8px;
}

.footerText {
    display: inline-block;
    vertical-align: middle;
}