@media only screen and (min-width: 32.5em) {
    .flex {
        flex-direction: row;
    }

    div .audience {
        margin-left: 450px;
    }
    
    .navigation {
        display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
        text-align: center;
        font-size: 2vw;
	}
	
	.navigation li:first-child {
		display: none;
    }

    .logo {
        width: 65px;
        float: left;
        margin-left: 50px;
    }
    h1, h2 {
        font-size: 30px;
    }

    #five-day-forecast {
        display: block;
    }

    nav {
        line-height: 20px;
    }

    #cities {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .galleryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        margin-top: 10px;
    }
}